.UploadPost {
  display: flex;
  flex-direction: column;
  width: 500px;
  height: 150px;
  border: 1px solid lightgrey;
  padding: 20px;
}
.userInput,
.user_attachments,
.uploads {
  display: flex;
  align-items: center;
  width: 100%;
  cursor: pointer;
}

.userInput > input {
  margin-left: 10px;
  padding: 20px;
  height: 35px;
  border-radius: 20px;
  border: 1px solid lightgrey;
  flex: 1;
  outline: none;
  cursor: pointer;
}
.user_attachments {
  margin-top: 10px;
  margin-left: 10px;
  border-bottom: 1px solid lightgrey;
  padding-bottom: 10px;
  cursor: pointer;
}
.uploads > p {
  margin-left: 6px;
}
.newConversation {
  margin-top: 10px;
}
.newConversation > p {
  color: grey;
  cursor: pointer;
}
.fa-image {
  color: #70b5f9;
}
.fa-youtube {
  color: #7fc15e;
}
.fa-calendar-check {
  color: #e7a33e;
}
.fa-newspaper {
  color: #f5987e;
}
.modalBody {
  display: flex;
  flex-direction: column;
}
.AvatarName {
  display: flex;
}
.nameSelect {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}
.nameSelect > h4 {
  font-size: 12px;
  letter-spacing: 1px;
  font-weight: 600;
}
.nameSelect > select {
  outline: none;
  width: 100px;
  margin-left: -5px;
  border: 1px solid lightgrey;
  border-radius: 20px;
  padding-left: 5px;
  padding-top: 3px;
  padding-bottom: 3px;
  font-size: 12px;
}
.nameSelect > select > option {
  font-size: 14px;
}
.userInputHashtag {
  display: flex;
  flex-direction: column;
}
.userInputHashtag > input {
  padding-top: 20px;
  padding-left: 10px;
  width: 400px;
  outline: none;
  border: none;
  border-radius: 20px;
  word-wrap: inherit;
}
.userInputHashtag > h4 {
  color: #0a66c2;
  font-weight: 600;
  margin-top: 70px;
  cursor: pointer;
}
.fa-plus {
  color: #0a66c2;
}
#userPostAttachments {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  margin-left: -15px;
}
#userIcons > i {
  margin-left: 15px;
  font-size: 20px;
  cursor: pointer;
}
#userIcons > small {
  border: 1px solid lightgrey;
  padding: 7px;
  border-radius: 20px;
  width: 100px;
  margin-left: 20px;
}
.userButtonsChoose {
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(2, 50%);
  margin-top: 20px;
  color: grey;
}
.userButtonsChoose > div {
  margin-left: 20px;
}
.userButtonsChoose > div > button {
  color: grey;
  border-radius: 20px;
  border: 1px solid lightgrey;
  font-size: 14px;
  margin-top: 10px;
  padding: 5px;
  width: 100%;
}
.userButtonsChoose > div > button:hover {
  outline: #0a66c2;
}
.userButtons > button {
  color: grey;
  padding: 2px;
  border-radius: 10px;
  outline: none;
  border: 1px solid lightgrey;
}
#modalHeader {
  border-bottom: 1px solid grey !important;
}
#postBtn {
  margin-top: -20px;
  width: 80px;
  color: #0a66c2;
}
@media screen and (max-width: 480px) {
  .UploadPost {
    width: 100%;
    height: 150px;
    border: 1px solid lightgrey;
    padding: 0px;
  }
  #userIcons {
    display: none;
  }
  .userButtonsChoose {
    display: none;
  }
  .userInput {
    margin-top: 10px;
  }
  .userInput > input {
    margin-left: 4px;
    padding: 12px;
    height: 35px;
    border-radius: 20px;
    margin-right: 15px;
  }
  #feedCompDiv {
    margin-top: 20px;
  }
  .user_attachments {
    width: 100%;
    margin-top: 10px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.05);
    border-bottom: none;
    margin-left: 10px;
    padding-bottom: 10px;
  }
}
